<%= @entries.count %> 

<%= link_to 'Dodaj nowy wpis', new_entry_path %>

<% @entries.each do |entry| %>
    <h1><%= link_to entry.title, entry_path(entry) %></h1>
    <h4><%= entry.header %></h4>
    <p><%= entry.created_at %></p>
    <br>
<% end %>
